<div class="row">
    <div class="col-md-12">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover table-header-fixed dataTable no-footer" id="table">
                <thead>
                    <!-- CABECERAS CON ORDENAMIENTO -->
                    <tr>
                        <th class="center-th selected sorting_asc" ng-click="changeSort('codigo')"> ID</th>
                        <th class="center-th" ng-click="changeSort('formuladora')"> Formuladora</th>
                        <th class="center-th" ng-click="changeSort('proveedor')"> Proveedor</th>
                        <th class="center-th" ng-click="changeSort('tipo_producto')"> Tipo de Producto</th>
                        <th class="center-th" ng-click="changeSort('categoria')"> Categoria</th>
                        <th class="center-th" ng-click="changeSort('nombreComercial')"> Nombre Comercial</th>
                        <th class="center-th" ng-click="changeSort('ingrediente_activo')"> Ingrediente Activo</th>
                        <th class="center-th" ng-click="changeSort('frac')"> FRAC</th>
                        <th class="center-th" ng-click="changeSort('action')"> Accion</th>
                        <th class="center-th"> Acciones </th>
                    </tr>
                    <!-- FILTROS EN LA CABECERA -->
                    <tr role="row" class="filter">
                        <td><input type="text" class="form-control form-filter input-sm" ng-model="search.codigo" name="codigo" id="codigo"> </td>
                        <td><input type="text" class="form-control form-filter input-sm" ng-model="search.formuladora" name="formuladora" id="formuladora"> </td>
                        <td><input type="text" class="form-control form-filter input-sm" ng-model="search.proveedor" name="proveedor" id="proveedor"> </td>
                        <td><input type="text" class="form-control form-filter input-sm" ng-model="search.tipo_producto" name="tipo_producto" id="tipo_producto"> </td>
                        <td><input type="text" class="form-control form-filter input-sm" ng-model="search.categoria" name="categoria" id="categoria"> </td>
                        <td><input type="text" class="form-control form-filter input-sm" ng-model="search.nombreComercial" name="nombreComercial" id="nombreComercial"> </td>
                        <td><input type="text" class="form-control form-filter input-sm" ng-model="search.ingrediente_activo" name="ingrediente_activo" id="ingrediente_activo"> </td>
                        <td><input type="text" class="form-control form-filter input-sm" ng-model="search.frac" name="frac" id="frac"> </td>
                        <td><input type="text" class="form-control form-filter input-sm" ng-model="search.action" name="action" id="action"> </td>
                        <td></td>
                    </tr>
                </thead>
                <!-- PAGINADO EN EL FOOTER -->
                <!-- table es la variable $scope.table donde viene la data de la tabla (reemplazarla por la de uso) -->
                <tfoot>
                    <tr>
                        <td colspan="100">
                            <div class="col-md-5 col-sm-12">
                                Página {{ (search.actual_page | num) || 0 }} de {{ (table.length / (search.limit | num) | num) + (table.length % (search.limit | num) == 0 ? 0 : 1) }}
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <a class="btn btn-sm default prev" ng-click="prev(table)"><</a>
                                <input type="text" maxlength="5" class="pagination-panel-input form-control input-sm input-inline input-mini" ng-model="search.actual_page"/>
                                <a class="btn btn-sm default next" ng-click="next(table)">></a>
                            </div>
                        </td>
                    </tr>
                </tfoot>

                <!-- CUERPO DE LA TABLA -->
                <!-- table es la variable $scope.table donde viene la data de la tabla (reemplazarla por la de uso) -->
                <!-- filter: separar por "," cada parametro por filtro que se agrega en la cabecera, ejemplo : { id: varID, nombre : varNombre, fecha : varFecha } -->
                <!-- reverse false = asc, true = desc -->
                <!-- startFrom : para iniciar en el registro de la tabla segun la pagina visible -->
                <!-- limit : limitante de registros por pagina -->    
                <tbody>
                    <tr role="row" ng-repeat="row in table | filter : { codigo: search.codigo , formuladora: search.formuladora , proveedor: search.proveedor , 
                            tipo_producto: search.tipo_producto ,  categoria: search.categoria, nombreComercial: search.nombreComercial , ingrediente_activo: search.ingrediente_activo ,  frac: search.frac ,
                             action: search.action } 
                            | orderBy : search.orderBy : search.reverse | startfrom:(search.actual_page-1)*(search.limit | num) | limitTo : search.limit">
                        <td>{{ row.codigo }}</td>
                        <td>{{ row.formuladora }}</td>
                        <td>{{ row.proveedor }}</td>
                        <td>{{ row.tipo_producto }}</td>
                        <td>{{ row.categoria }}</td>
                        <td>{{ row.nombreComercial }}</td>
                        <td>{{ row.ingrediente_activo }}</td>
                        <td>{{ row.frac }}</td>
                        <td>{{ row.action }}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="getProduct(row.codigo)" title="Editar"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger" ng-click="deleteProduct(row.codigo)" title="Borrar"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>