<span style='color: #000'>1132 frames</span>	<span style='color: #900'>21,248 KB</span>	<span style='color: #090'>4,690.87 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />