<form id="form-cycle"  role="form" method="post" class="form-horizontal form-row-seperated">
    <div class="row">
        <fieldset class="scheduler-border">
            <div class="col-md-6">
                <legend class="scheduler-border">
                        Datos Ciclos
                </legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Código <!--<span class="required" aria-required="true"> * </span>--></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" disabled ng-model="cycle.codigo" id="codigo" placeholder="Escribir Código">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Fecha <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                         <input type="text"  class="table-group-action-input form-control date-picker" data-date-format="yyyy-mm-dd" readonly ng-model="cycle.fecha" id="fecha" name="fecha" placeholder="Seleccionar Fecha">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitente">Finca </label>
                    <div class="col-md-8">
                        <select class="form-control" id="id_hacienda" name="id_hacienda" ng-model="cycle.id_hacienda">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in fincas">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitentePuesto">Sector <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="id_sector" name="id_sector" ng-model="cycle.id_sector">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in sectores">{{value}}</option>
                        </select>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-md-4 control-label" for="remitente">Tipo de Ciclo </label>
                    <div class="col-md-8">
                        <select class="form-control" id="tipo_ciclo" name="tipo_ciclo" ng-model="cycle.tipo_ciclo">
                            <option value=""></option>
                            <option value="{{value}}" ng-repeat="(key , value) in tipo_ciclos">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name"># Ciclo <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="cycle.num_ciclo" id="num_ciclo" placeholder="Escribir programa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="generoEmpresa">Fumigadora <small class="color-gray"></small> <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="id_fumigadora" name="id_fumigadora" ng-model="cycle.id_fumigadora">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in fumigadoras">{{value}}</option>
                        </select>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Pilotos <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="id_piloto" name="id_piloto" ng-model="cycle.id_piloto">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in pilotos">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Programa <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="cycle.programa" id="programa" placeholder="Escribir programa">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <legend class="scheduler-border">
                    Fungicidas
                </legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Fungicida <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="id_fungicida" name="id_fungicida" ng-model="cycle.id_fungicida">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in fungicidas">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Cantidad <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="cycle.cantidad" id="cantidad" placeholder="Escribir Cantidad">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Dosis <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="cycle.dosis" id="dosis" placeholder="Escribir Dosis">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="copia">Fungicida <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <select class="form-control" id="id_fungicida2" name="id_fungicida2" ng-model="cycle.id_fungicida2">
                            <option value=""></option>
                            <option value="{{key}}" ng-repeat="(key , value) in fungicidas">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Cantidad <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="cycle.cantidad_2" id="cantidad_2" placeholder="Escribir Cantidad">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Dosis <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="cycle.dosis_2" id="dosis_2" placeholder="Escribir Dosis">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <legend class="scheduler-border">
                        Productos
                    </legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="copia">Agua <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <!--<select class="form-control" id="agua" name="agua" ng-model="cycle.agua">
                                <option value=""></option>
                                <option value="{{key}}" ng-repeat="(key , value) in aguas">{{value}}</option>
                            </select>-->
                            AGUA
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Cantidad <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.cantidad_agua" id="cantidad_agua" placeholder="Escribir Cantidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Dosis <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.dosis_agua" id="dosis_agua" placeholder="Escribir Dosis">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="copia">Emulsificante <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <select class="form-control" id="id_emulsificante" name="id_emulsificante" ng-model="cycle.id_emulsificante">
                                <option value=""></option>
                                <option value="{{key}}" ng-repeat="(key , value) in emulsificantes">{{value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Cantidad <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.cantidad_emulsificante" id="cantidad_emulsificante" placeholder="Escribir Cantidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Dosis <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.dosis_emulsificante" id="dosis_emulsificante" placeholder="Escribir Dosis">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="copia">Aceite <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <!--<select class="form-control" id="id_aceite" name="id_aceite" ng-model="cycle.id_aceite">
                                <option value=""></option>
                                <option value="{{key}}" ng-repeat="(key , value) in aceites">{{value}}</option>
                            </select>-->
                            Banole
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Cantidad <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.cantidad_aceite" id="cantidad_aceite" placeholder="Escribir Cantidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Dosis <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.dosis_aceite" id="dosis_aceite" placeholder="Escribir Dosis">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <legend class="scheduler-border">
                        Foliares
                    </legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="copia">Foliar 1 <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <select class="form-control" id="id_foliar_1" name="id_foliar_1" ng-model="cycle.id_foliar_1">
                                <option value=""></option>
                                <option value="{{key}}" ng-repeat="(key , value) in foliares">{{value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Cantidad <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.cantidad_foliar_1" id="cantidad_foliar_1" placeholder="Escribir Cantidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Dosis <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.dosis_foliar_1" id="dosis_foliar_1" placeholder="Escribir Dosis">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="copia">Foliar 2 <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <select class="form-control" id="id_foliar_2" name="id_foliar_2" ng-model="cycle.id_foliar_2">
                                <option value=""></option>
                                <option value="{{key}}" ng-repeat="(key , value) in foliares">{{value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Cantidad <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.cantidad_foliar_2" id="cantidad_foliar_2" placeholder="Escribir Cantidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Dosis <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.dosis_foliar_2" id="dosis_foliar_2" placeholder="Escribir Dosis">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="copia">Foliar 3 <small class="color-gray"></small><span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <select class="form-control" id="id_foliar_3" name="id_foliar_3" ng-model="cycle.id_foliar_3">
                                <option value=""></option>
                                <option value="{{key}}" ng-repeat="(key , value) in foliares">{{value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Cantidad <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.cantidad_foliar_3" id="cantidad_foliar_3" placeholder="Escribir Cantidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Dosis <span class="required" aria-required="true"> * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="cycle.dosis_foliar_3" id="dosis_foliar_3" placeholder="Escribir Dosis">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset> 
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green" ng-click="save()">Guardar</button>
                    <button type="button" class="btn default" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>