<span style='color: #000'>595 frames</span>	<span style='color: #900'>22,272 KB</span>	<span style='color: #090'>3,651.20 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />