<span style='color: #000'>3 frames</span>	<span style='color: #900'>4,608 KB</span>	<span style='color: #090'>66.32 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />