<span style='color: #000'>1119 frames</span>	<span style='color: #900'>30,976 KB</span>	<span style='color: #090'>756.29 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />