<table class="table table-striped table-bordered table-hover table-checkable" id="datatable_ajax">
    <thead>
        <tr role="row" class="heading">
            <th width="2%"><input type="checkbox" class="group-checkable"> </th>
            <th width="5%" class="selected sorting_asc" ng-click="changeSort('codigo')"> ID&nbsp;# </th>
            <th width="20%" ng-click="changeSort('fumigadoras')"> Fumigadoras </th>
            <th width="20%" ng-click="changeSort('placa')"> Placa </th>
            <th width="25%" ng-click="changeSort('nombre')"> Nombre </th>
            <th width="10%" ng-click="changeSort('estado')"> Estado </th>
            <th width="5%" ng-click="changeSort('uid')"> Uid </th>
            <th width="5%"> Acciones </th>
        </tr>
        <tr role="row" class="filter">
            <td> </td>
            <td><input type="text" class="form-control form-filter input-sm" ng-model="searchTable.id" name="search_id"> </td>
            <td><input type="text" class="form-control form-filter input-sm" ng-model="searchTable.fumigadora" name="search_client"> </td>
            <td><input type="text" class="form-control form-filter input-sm" ng-model="searchTable.placa" name="search_finca"> </td>
            <td><input type="text" class="form-control form-filter input-sm" ng-model="searchTable.nombre" name="search_name"> </td>
            <td>
                <select name="order_status" class="form-control form-filter input-sm" ng-model="searchTable.estado">
                    <option value="">Select...</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </td>
            <td></td>
            <td>
                <div class="margin-bottom-5">
                    <button class="btn btn-sm green btn-outline filter-submit margin-bottom"><i class="fa fa-search"></i> </button>
                    <button class="btn btn-sm red btn-outline filter-cancel"><i class="fa fa-times"></i> </button>
                </div>
            </td>
        </tr>
    </thead>
    <!-- PAGINADO EN EL FOOTER -->
    <!-- table es la variable $scope.table donde viene la data de la tabla (reemplazarla por la de uso) -->
    <tfoot>
        <tr>
            <td colspan="100">
                <div class="col-md-5 col-sm-12">
                    Página {{ (search.actual_page | num) || 0 }} de {{ (table.length / (search.limit | num) | num) + (table.length % (search.limit | num) == 0 ? 0 : 1) }}
                </div>
                <div class="col-md-7 col-sm-12">
                    <a class="btn btn-sm default prev" ng-click="prev(table)"><</a>
                    <input type="text" maxlength="5" class="pagination-panel-input form-control input-sm input-inline input-mini" ng-model="search.actual_page"/>
                    <a class="btn btn-sm default next" ng-click="next(table)">></a>
                </div>
            </td>
        </tr>
    </tfoot>
    
    <!-- CUERPO DE LA TABLA -->
    <!-- table es la variable $scope.table donde viene la data de la tabla (reemplazarla por la de uso) -->
    <!-- filter: separar por "," cada parametro por filtro que se agrega en la cabecera, ejemplo : { id: varID, nombre : varNombre, fecha : varFecha } -->
    <!-- reverse false = asc, true = desc -->
    <!-- startFrom : para iniciar en el registro de la tabla segun la pagina visible -->
    <!-- limit : limitante de registros por pagina -->    
    <tbody>
        <tr role="row" ng-repeat="row in table | filter : searchTable
                | orderBy : search.orderBy : search.reverse | startfrom:(search.actual_page-1)*(search.limit | num) | limitTo : search.limit">
            <td></td>
            <td>{{ row.id }}</td>
            <td>{{ row.fumigadora }}</td>
            <td>{{ row.placa }}</td>
            <td>{{ row.nombre }}</td>
            <td>{{ row.status }}</td>
            <td>{{ row.id_usuario }}</td>
            <td><button class="btn blue" ng-click="getPilot(row.id)">Editar</button></td>
        </tr>
    </tbody>
</table>