<form id="form-piloto"  role="form" method="post" class="form-horizontal form-row-seperated">
    <div class="row">
        <fieldset class="scheduler-border">
            <div class="col-md-6">
                <legend class="scheduler-border">
                        Datos Piloto
                </legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Código <!--<span class="required" aria-required="true"> * </span>--></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" disabled ng-model="piloto.codigo" id="codigo" placeholder="Escribir Código">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Nombre <!--<span class="required" aria-required="true"> * </span>--></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="piloto.nombre" id="nombre" placeholder="Escribir Nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Fumigadora <!--<span class="required" aria-required="true"> * </span>--></label>
                    <div class="col-md-8">
                         <select class="form-control" data-placeholder="Seleccione una Fumigadora" tabindex="1" id="fumigadora" ng-model="piloto.fumigadora">
                            <option value="">Seleccione</option>
                            <option value="{{key}}" ng-repeat="(key , value) in fumigadoras">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Placa <!--<span class="required" aria-required="true"> * </span>--></label>
                    <div class="col-md-8">
                        <select class="form-control" data-placeholder="Seleccione una Placa " tabindex="1" id="placa" ng-model="piloto.placa">
                            <option value="">Seleccione</option>
                            <option value="{{key}}" ng-repeat="(key , value) in placas">{{value}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset> 
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green" ng-click="save()">Guardar</button>
                    <button type="button" class="btn default" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>