
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>AGREGAR NUEVO PILOTO</div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="formcli" method="post">
            <div class="form-actions right">
                <button type="button" class="btn default cancel">Cancelar</button>
                <button type="button" class="btn blue btnadd" >
                    <i class="fa fa-check"></i>Registrar</button>
            </div>
            <div class="form-body">
                <h3 class="form-section">INFORMACIÓN DEL PILOTO</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input type="text" value="" id="txtnom" class="form-control">
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Fumigadora</label>
                            <select class="form-control" data-placeholder="Seleccione una Fumigadora" tabindex="1" id="s_fumigadora">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Placa de Avión</label>
                            <select class="form-control" data-placeholder="Seleccione una Finca" tabindex="1" id="placas">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="button" class="btn default cancel">Cancelar</button>
                <button type="button" class="btn blue btnadd" >
                    <i class="fa fa-check"></i>Registrar</button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>